body{
  background-color:#16213e;
  min-height: 100vh;
  background-image: url('Resources/QA_Logo.png');
  background-repeat: no-repeat;
  background-size: cover;

}
p{
  color: #f5e7c4;
}
h1{
  color:#ede68a
}
td:hover{
  background-color:gray;
  cursor:pointer;
  }
