body{
  background-color:#16213e;
  min-height: 100vh;
  padding: 1 rem;
  /* add this back for margin  */
  /* margin: 3%; */
  background-repeat: no-repeat;
  background-size: cover;

}
h1{
  font-family: 'Roboto', sans-serif;
}
p{
  color: white;
  font-family: 'Roboto', sans-serif;
}
h1{
  color:#ede68a
}

thead{
  font-size: large;
}
tr:hover{
  background-color:gray;
  cursor:pointer;
  }
/* hide log in/ log out button  */
#guestLoggedInBtn{
  display: none;
}
#userLoggedInBtn{
  display: none;
}

#guestLoggedInService{
  display: none;
}
#userLoggedInService{
  display: none;
}
h1:after {
  content:' ';
  display:block;
  border:1px solid #ede68a;
  border-radius:4px;
  -webkit-border-radius:4px;
  -moz-border-radius:4px;
  box-shadow:inset 0 1px 1px rgba(0, 0, 0, .05);
  -webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, .05);
  -moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, .05);
}
td{
  font-family: 'Roboto', sans-serif;
  /* font-size: medium; */
  background-color: rgba(10, 10, 10, 0.5);
}

.card{
  background-color: #363a3b ;

}
.card-body{
  color: #fff;
}