.navbar {
  padding:0rem;
  margin-bottom:2rem;
  padding-top: 10;
  padding-bottom: 10;
}

.dropdown .dropdown-menu {
  border-radius:0;
 }


/* Medium devices (tablets, 768px and up) 
The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {  
.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
  border-radius:0;
 }
}